/* 
#373a40
#68b0ab
#8fc0a9
#c8d5b9
#faf3dd
 */

.home-container {
  margin: auto 5%;
}

.home .card.welcome {
  margin: 4rem auto 7rem;
  padding: 2rem 0;
<<<<<<< HEAD
  background-color: #8fc0a923;
  box-shadow: 0px 0px 50px 0px rgb(55, 58, 64, 0.125);
=======
  background-color: #8fc0a92a;
  box-shadow: 0px 0px 50px 0px rgb(55, 58, 64, 0.15);
>>>>>>> 8223c65bbbd24b35cd7b74bf1cc9582da22a1a73
  border: 0;
  border-radius: 0;
}
@media only screen and (max-width: 425px) {
  .home .card.welcome {
    margin: 3rem auto 7rem;
  }
}

.home .card.home-yoga-style {
  border: 0;
  border-radius: 0;
}

/* --------------info section---------------- */

.home-info-blocks img {
  object-fit: contain;
  width: 100%;
  height: 10rem;
  display: block;
  margin: auto;
  border-radius: 1%;
  opacity: 0.85;
}
@media only screen and (max-width: 425px) {
  .home-info-blocks img {
    object-fit: contain;
    width: auto;
  }
}

/* ---------------yoga style----------------- */

.home-yoga-style {
<<<<<<< HEAD
  background-image: linear-gradient(to bottom, #8fc0a923, white);
  box-shadow: 0px -40px 40px 0px rgb(55, 58, 64, 0.04);
=======
  background-image: linear-gradient(to bottom, #8fc0a92a, white);
  box-shadow: 0px -40px 40px 0px rgb(55, 58, 64, 0.05);
>>>>>>> 8223c65bbbd24b35cd7b74bf1cc9582da22a1a73
  margin: 7rem auto;
}

.home-yoga-style .home-container {
  margin: 3rem 5%;
}

.home-yoga-style img {
  opacity: 0.7;
}

/* ---------------about me------------------ */

.home-sensei-profile {
  margin: 9rem 0;
<<<<<<< HEAD
  background-color: #8fc0a923;
=======
  background-color: #8fc0a92a;
>>>>>>> 8223c65bbbd24b35cd7b74bf1cc9582da22a1a73
  box-shadow: 0px 0px 10px 0px rgb(55, 58, 64, 0.15);
}

.home-sensei-profile .img1 {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 0% 70% 70% 0%;
}
@media only screen and (max-width: 767px) {
  .home-sensei-profile .img1 {
    width: 65%;
  }
}

.home-about-me {
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .home-about-me {
    margin: 2rem auto auto;
  }
}

.home-sensei-profile .img2 {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .home-sensei-profile .img2 {
    width: 20%;
    margin: 2rem auto;
  }
}

/* --------------Q&A section----------------- */

.home-QA {
  margin: 5rem 5%;
  opacity: 0.9;
}
@media only screen and (max-width: 768px) {
  .home-QA {
    margin: 5rem 0;
  }
}

.home-QA .question,
.home-QA .answer {
  padding: 7%;
}

.home-QA .answer {
  margin-top: 5rem;
}

/* ---------------contact------------------ */

#get-in-touch {
  text-align: center;
  margin: 10rem auto 6rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  background-color: #8fc0a91f;
  box-shadow: 0px -1px 3px 0px rgb(55, 58, 64, 0.2);
}

.home-contact {
  margin: 0 0 12rem;
}

.contact-form {
  padding: 1.5rem;
  border-radius: 2px;
  background-color: #8fc0a91f;
  box-shadow: 0px 2px 70px 0px rgb(55, 58, 64, 0.25);
}
@media only screen and (max-width: 540px) {
  .contact-form {
    box-shadow: 0px 2px 35px 0px rgb(55, 58, 64, 0.25);
  }
}

.home-contact p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

.home-contact .whatsapp-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-contact .contact-profile-pic {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 70px 0px rgb(55, 58, 64, 0.25);
}
@media only screen and (max-width: 768px) {
  .home-contact .contact-profile-pic {
    width: 50%;
    margin-top: 4rem;
  }
}

/* ---------------footer------------------ */

.home-footer {
  height: auto;
  background-color: #c8d5b9;
}

.home-footer .brand {
  font-family: "testOnly", "Nothing You Could Do", cursive;
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.home-footer .footer-container {
  margin: auto 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.home-footer .social-icons {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .home-footer .social-icons {
    text-align: center;
    margin: 2rem auto;
  }
}

.home-footer .social-icons a {
  color: #464646;
  font-size: 1.5rem;
  margin: auto 2rem;
}
@media only screen and (max-width: 768px) {
  .home-footer .social-icons a {
    margin: auto 1.5rem;
  }
}
